@model User

@{
    ViewData["Title"] = "Profile";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>


<div class="row mt-4">
    <div class="col">
        
        <div class="mb-4">
            <div asp-validation-summary="All" class="text-danger small"></div>
        </div>

        <div class="form-group">
            <label class="form-label">Full Name</label>
            <p class="form-control-static">@ViewData["FullName"]</p>
        </div>

        <form method="post" asp-action="ProfileChangeUserName">
            <div class="form-group">
                <label class="form-label">User Name</label>
                <div class="input-group mb-3">
                    <input name="username" type="text" class="form-control" placeholder="johndoe"
                        value="@ViewData["UserName"]" />
                    <button class="btn btn-secondary" type="submit">Save</button>
                </div>
            </div>
        </form>
        <form method="post" asp-action="ProfileChangePassword">
            <div class="form-group">
                <label class="form-label">Password</label>
                <div class="input-group mb-3">
                    <input name="password" type="password" class="form-control" placeholder="johndoe">
                    <button class="btn btn-secondary" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
